/* Сброс стилей */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Стандартные стили для HTML-элементов */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1 {
    font-size: 2em; /* 32px */
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.75em; /* 28px */
    margin-bottom: 0.6em;
}

h3 {
    font-size: 1.5em; /* 24px */
    margin-bottom: 0.75em;
}

h4 {
    font-size: 1.25em; /* 20px */
    margin-bottom: 0.8em;
}

h5 {
    font-size: 1em; /* 16px */
    margin-bottom: 0.9em;
}

h6 {
    font-size: 0.875em; /* 14px */
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #0275d8;
    text-decoration: none;
}

ul,
ol {
    margin-bottom: 1em;
    padding-left: 20px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* 24px */
    }
    h2 {
        font-size: 1.3em; /* 20.8px */
    }
    h3 {
        font-size: 1.2em; /* 19.2px */
    }
    h4 {
        font-size: 1.1em; /* 17.6px */
    }
    h5 {
        font-size: 1em; /* 16px */
    }
    h6 {
        font-size: 0.9em; /* 14.4px */
    }
    p, ul, ol {
        font-size: 0.9em; /* Уменьшение размера текста */
    }
}
